.carhero {
    display: flex;
    gap: 55px;
    background: rgb(220, 234, 245);
    width: 1994.63px;
    height: 699px;
    margin-left: -150px;
}


.hero__leftt {
    width: 618px;
    height: 480px;
    margin-top: 150px;
    padding-left: 150px;
}

.hero__leftt h3 {
    color: rgb(29, 52, 68);
    font-family: Poppins;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -3%;
    text-align: left;
}

.hero__leftt p {
    color: rgb(91, 91, 91);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px 0;
}

.hero__leftt button {
    width: 180px;
    height: 54px;
    border-radius: 27px;
    padding: 10px 0;
    background: rgb(245, 138, 7);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 106.5%;
    letter-spacing: 0px;
    text-align: center;
    text-transform: capitalize;
    transition: .3s;
}

.hero__leftt button:hover {
    background: transparent;
    color: #000;
    border: 1px solid #787878;
}

.hero__rightt img {
    height: 493px;
    margin-top: 102px;
}


.user {
    display: flex;
    gap: 10px;
    width: 409px;
    height: 32px;

}

.user h4 {
    color: rgb(57, 65, 73);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.87;
}