.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 52px;
    margin-top: 16px;
    bottom: 2818px;
}

.logo {
    width: 122px;
    height: 24.71px;
    margin-top: 26.92%;
    margin-bottom: 25.56%;
}

.item {
    display: flex;
    gap: 32px;
    width: 461px;
    height: 24px;
    margin-left: 40.34%;
    margin-right: 16.64%;
    margin-top: 26.92%;
    margin-bottom: 26.92%;
}

.navbar__link {
    color: rgb(57, 65, 73);
    font-family: Poppins;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: capitalize;
    transition: .3s;
}

.navbar__link:hover {
    color: #ff0000;
    box-shadow: 0 1px 0px 0 #ff0000;
}